.wrapper {
    padding: 3rem;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 35rem;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0;
    }
    .youtube {
        width: 100%;
    }
}
