h3{
    margin-bottom: 1rem;

}

.wrapper {
    padding: 3rem;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 35rem;
    border-radius: 4px;
    box-shadow: 5px 5px 0px #ffe15d;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.youtube:hover{
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0px #ffe15d;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0;
    }
    .youtube {
        width: 100%;
    }
}
