.container {
    display: flex;
    height: calc(100vh - 8rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    width: 300px;
}
.title {
    margin-bottom: 1.5rem;
}

.input {
    width: 100%;
    display: block;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    box-shadow: 1px 1px 5px #c8c8c8;
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input:focus {
    background-color: #ffe15db2;
    color: #562b08;
}

.button {
    margin-top: 1rem;
    background-color: #562b08;
    color: white;
}
.button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#introInput {
    /* background-color: #f4f4f4; */
    max-width: 100%;
    min-width: 100%;
    min-height: 5rem;
}
