.header_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.header {
    flex: 1;
    color: var(--color-brown);
}

.blog {
    padding: 0.8rem;
    border-radius: 4px;
    display: flex;
}

.blogs a:nth-child(odd) div {
    background-color: #f4f4f4;
}

.blogs a:hover div {
    background-color: #dedede;
    border-radius: 0px;
}

.blog_id {
    min-width: 2.7rem;
    display: inline-block;
}

.blog_title {
    flex: 1;
}

.video {
    margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
    .wrapper {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .button {
        width: 100%;
    }
}
