.footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.github {
    height: 1.5rem;
}

.githubIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
