.cards {
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - 6rem) / 4);
    height: 30rem;
    margin: 0 2rem 2rem 0;
    border-radius: 0.25rem;
}

.card:last-child {
    margin: 0 0 2rem 0;
}

.dot {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #e2e1e0;
    margin-bottom: 2.5rem;
    box-shadow: 1px 1px 3px #aaa inset;
}

.img {
    margin-bottom: 1.5rem;
}

.profile_img {
    filter: drop-shadow(0px 5px 2px var(--color-brown));
    width: 8.7rem;
    height: 10rem;
}

.name {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-brown);
    margin-bottom: 1rem;
}

.level {
    margin-bottom: 0.5rem;
}

.desc {
    height: 4rem;
    font-size: 0.85rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
}

.icon > svg {
    margin-right: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .card {
        width: calc((100% - 2rem) / 2);
    }
    .card:nth-child(even) {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 700px) {
    .cards {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}
