.mobileSignBtn {
  width: 3rem;
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileSignBtn:hover {
  cursor: pointer;
}

.mobileSignSvg {
  width: 1.5rem;
  height: 1.5rem;
}
