.container {
    height: 4rem;
    line-height: 4rem;
    display: flex;
    background-color: #ffe15d;
}

.container * {
    color: #562b08;
}

.logo {
    margin-left: 2rem;
    font-weight: 800;
}
#headerImg{
    height: 2rem;
    margin: 1rem;
}


.navi {
    height: 100%;
    flex: 1 0 auto;
    font-weight: bold;
    text-align: center;
}

