.player {
    width: 35rem;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
    box-shadow: 5px 5px 0px #ffe15d;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.player:hover {
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0px #ffe15d;
}

@media screen and (width <= 480px) {
    .player {
        width: 100%;
    }
}
